Matrix Requirements

Let matrix<R, C, T> be shorthand for a matrix with R rows, C columns, and with elements of type T.


[C] Construction

[C.1] Matrix list construction

A matrix<R, C, T1> may be constructed from R lists of C values of type T2 if:
    - T1 = T2, or
    - T2 is convertible to T1.

The first list passed to the constructor specifies the values in the first row of the matrix, the second specifies the
values in the second row, and so on.

[C.2] Matrix construction from matrix

A matrix<R, C, T1> m1 may be constructed from another matrix<R, C, T2> m2 if:
    - T1 = T2, or
    - T2 is convertible to T1.

Each element in m1 is equal to the corresponding value from m2, after applying any necessary conversions.

[C.3] Matrix construction from scalar

A matrix<R, C, T1> may be constructed from a scalar value of type T2 if:
    - T1 = T2, or
    - T2 is convertible to T1.

The values along the main diagonal of the resulting matrix are equal to the scalar value passed to the construction,
after applying any necessary conversions.


[DA] Data Access

[DA.1] Individual element access

Individual elements of a matrix can be read from and written to by indexing them by their row and column.

The first row has index 0, the second index 1, and so on.

The first column has index 0, the second index 1, and so on.

[DA.2] Row and column access

[DA.2.1] An entire row or column of a matrix can be read from and written to by indexing it by its row or column index,
respectively.

[DA.2.2] Rows and columns obey the same rules as vectors when it comes to assignment, comparison, arithmetic, and
special vector operations.

[DA.3] Matrix assignment

A matrix<R, C, T1> can be assigned to another matrix<R, C, T2> if:
    - T1 = T2, or
    - T2 is convertible to T1.

After the assignment, each element in the first matrix has the value of the corresponding element in the second matrix,
after applying any necessary conversions.

[DA.4] Matrix scalar assignment

A matrix<R, C, T1> can be assigned to another matrix<R, C, T2> if:
    - T1 = T2, or
    - T2 is convertible to T1.

After the assignment, each element in the first matrix has the value of the corresponding element in the second matrix, 
after applying any necessary conversions.


[DL] Data Layout

[DL.1] Size of a matrix

If s is the size of type T in bytes, then a matrix<R, C, T> takes up s * R * C bytes in memory.

[DL.2] Matrix data layout

The elements of a matrix are laid out in row-major order. The first R elements starting from the first address
allocated to the matrix hold the elements in the first row, the next R elements the elements in the second row, and so
on.


[CMP] Comparison

[CMP.1] Matrix comparison

A matrix<R, C, T1> m1 is considered equal to a matrix<R, C, T2> v2 if each element in m1 is equal to the corresponding
element in T2, and unequal otherwise.


[A] Arithmetic

[A.1] Matrix addition

Let m1 be a matrix<R, C, T1> and m2 be a matrix<R, C, T2>.

The result of the expression m1 + m2 is a matrix<R, C, T3> m3, where:
    - T3 is the type of the value of the expression x + y, where x is of type T1 and y is of type T2, and
    - For r in [0, C) and c in [0, R], m3[r][c] = m1[r][c] + m2[r][c].

[A.2] Matrix scalar addition

Let m be a matrix<R, C, T1> and x be a scalar value of type T2.

The result of the expression m + x is a matrix<R, C, T3> m2, where:
    - T3 is the type of the value of the expression a + b, where a is of type T1 and b is of type T2, and
    - For r in [0, C) and c in [0, R], m2[r][c] = m[r][c] + x.

[A.3] Matrix subtraction

Let m1 be a matrix<R, C, T1> and m2 be a matrix<R, C, T2>.

The result of the expression m1 - m2 is a matrix<R, C, T3> m3, where:
    - T3 is the type of the value of the expression x - y, where x is of type T1 and y is of type T2, and
    - For r in [0, C) and c in [0, R], m3[r][c] = m1[r][c] - m2[r][c].

[A.4] Matrix scalar subtraction

Let m be a matrix<R, C, T1> and x be a scalar value of type T2.

The result of the expression m - x is a matrix<R, C, T3> m2, where:
    - T3 is the type of the value of the expression x - y, where x is of type T1 and y is of type T2, and
    - For r in [0, C) and c in [0, R], m2[r][c] = m[r][c] - x.

[A.5] Matrix multiplication

Let m1 be a matrix<R1, C1, T1> and m2 be a matrix<R2, C2, T2>.

The result of the expression m1 * m2 is a matrix<R1, C2, T3> m3, where:
    - T3 is the type of the value of the expression x * y, where x is of type T1 and y is of type T2, and
    - For r in [0, C) and c in [0, R], m3[r][c] = m1[r].dot(m2[c]).

[A.6] Matrix scalar multiplication

Let m be a matrix<R, C, T1> and x be a scalar value of type T2.

The result of the expression m * x is a matrix<R, C, T3> m2, where:
    - T3 is the type of the value of the expression x * y, where x is of type T1 and y is of type T2, and
    - For r in [0, C) and c in [0, R], m2[r][c] = m[r][c] * x.

[A.7] Matrix scalar division

Let v1 be a vector<L, T1> and x be a scalar value of type T2.

The result of the expression v / x is a vector<L, T3> v2, where:
    - T3 is the type of the value of the expression a / b, where a is of type T1 and b is of type T2, and
    - For i in [0, L), v2[i] = v1[i] / x


[S] Special Operations

Transpose

Invert