Vector Requirements

Let vector<L, T> be shorthand for a vector of length L and with elements of type T.

    [C] Vector Construction

[C.1] A vector<L, T1> may be constructed from a list of values of length L and type T2 if:
    - T1 = T2, or
    - T2 is convertible to T1.

[C.2] A vector<L, T1> may be constructed from a vector<L, T2> if:
    - T1 = T2, or
    - T2 is convertible to T1.

[C.3] A vector<L, T1> may be constructed from a single value x of type T2 if:
    - T1 = T2, or
    - T2 is convertible to T1.

Each element of the resulting vector has the value x, after applying any necessary conversions.

    [DA] Data Access

[DA.1] The first element of a vector can be read from and written to using the subscript 0, the second element of a
vector can be read from and written to using the subscript 1, and so on.

[DA.2] A vector<L, T1> can be assigned to another vector<L, T2> if:
    - T1 = T2, or
    - T2 is convertible to T1.

After the assignment, each element in the first vector has the value of the corresponding element in the second vector
after applying any necessary conversions.

    [DL] Data Layout

[DL.1] If s is the size of the type T in bytes, then the size of a vector<L, T> is L * s bytes.

[DL.2] The elements of a vector are laid out in memory contiguously, with vector<L, T>[0] being stored at the first
address allocated to the vector, vector<L, T>[1] being stored at the second, and so on.

    [CMP] Comparison

[CMP.1] A vector<L, T1> v1 is considered equal to a vector<L, T2> v2 if for i in [0, L), v1[i] = v2[i].

    [A] Arithmetic

[A.1] Let v1 be a vector<L, T1> and v2 be a vector <L, T2>.

The result of the expression v1 + v2 is a vector<L, T3> v3, where:
    - T3 is the type of the value of the expression x + y, where x is of type T1 and y is of type T2, and
    - For i in [0, L), v3[i] = v1[i] + v2[i].

[A.2] Let v be a vector<L, T1> v1 and x be a scalar value of type T2.

The result of the expression v + x is a vector<L, T3> v2, where:
    - T3 is the type of the value of the expression a + b, where a is of type T1 and b is of type T2, and
    - For i in [0, L), v2[i] = v1[i] + x

[A.3] Let v1 be a vector<L, T1> and v2 be a vector <L, T2>.

The result of the expression v1 - v2 is a vector<L, T3> v3, where:
    - T3 is the type of the value of the expression x - y, where x is of type T1 and y is of type T2,
    - For i in [0, L), v3[i] = v1[i] - v2[i].

[A.4] Let v1 be a vector<L, T1> and x be a scalar value of type T2.

The result of the expression v - x is a vector<L, T3> v2, where:
    - T3 is the type of the value of the expression a - b, where a is of type T1 and b is of type T2, and
    - For i in [0, L), v2[i] = v1[i] - x

[A.5] Let v1 be a vector<L, T1> and x be a scalar value of type T2.

The result of the expression v * x is a vector<L, T3> v2, where:
    - T3 is the type of the value of the expression a * b, where a is of type T1 and b is of type T2, and
    - For i in [0, L), v2[i] = v1[i] * x

[A.6] Let v1 be a vector<L, T1> and x be a scalar value of type T2.

The result of the expression v / x is a vector<L, T3> v2, where:
    - T3 is the type of the value of the expression a / b, where a is of type T1 and b is of type T2, and
    - For i in [0, L), v2[i] = v1[i] / x